[Unit]
After=settle-ebs.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount-volumes.sh  "/opt/kafka-logs"  kafka  kafka
RemainAfterExit=yes

[Install]
WantedBy=aws.target
